[Unit]
Description=Pi webcam

[Service]
ExecStart=/home/hiperjp/uvc-gadget/piwebcam
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=piwebcam
User=pi
Group=pi
WorkingDirectory=/home/hiperjp/uvc-gadget/

[Install]
WantedBy=basic.target
